:root {
  --mui-shape-borderRadius: 4px;
  --mui-palette-common-white-rgb: 255, 255, 255;
  --mui-spacing-2: 16px;
  --mui-spacing-3: 24px;
  --mui-breakpoints-sm: 600px;
  // Adicione outras variáveis conforme necessário
}
