@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #000000;
  --background-primary: #e2e2e2;
}

body {
  color: --primary;
  background: var(--background-primary);
}

.dark-theme * {
  background-color: #333;
  color: #fff;
  outline-color: #fff;
  border-color: #fff;
}

.dark-theme button {
  background-color: #5f5c5c;
  border-color: unset;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
